<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>RIU</title>
	<meta name="description" content="Blue One Page Creative HTML5 Template">
	<meta name="keywords"
		content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
	<meta name="author" content="Muhammad Morshed">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
	<link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/owl.carousel.css">
	<link rel="stylesheet" href="../stylesheets/slit-slider.css">
	<link rel="stylesheet" href="../stylesheets/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</head>

<body id="body">
	<!-- preloader -->
	<div id="preloader">
		<div class="loder-box">
			<div class="battery"></div>
		</div>
	</div>
	<!-- Fixed Navigation -->
	<nav id="navigation" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#page-top">
					<div id="logo"></div>
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#companyProfile">Profile</a>
					</li>
					<li>
						<a class="page-scroll" href="#branch">branch</a>
					</li>
					<li>
						<a class="page-scroll" href="#key">Features</a>
					</li>
					<li>
						<a class="page-scroll" href="/">back</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End Fixed Navigation -->
	<main class="site-content" role="main">
		<section id="about">
			<div id="breakage"></div>
			<div id="companyProfile">
				<div id="companyProfileImg"></div> 
				<div id="companyProfiletext">
					<div class="text-center wow animated fadeInDown">
						<h3>COMPANY PROFILE</h3>
					</div>
					<div class=" wow animated fadeInUp text-center ">
						<p>Riu Global Services is a technology and services firm specializing in the areas of Telecom
							and
							Information Technology (IT) is based in India and has development sites and affiliates in
							Asia
							(countries like Iran, Indonesia etc ), Americas and Africa (central African countries and
							South
							Africa).
							We have proven competency in Telecom and ICT to improve efficiency, decrease operational
							cost and avoid human errors.
						</p>
					</div>
				</div>
			</div><br>
			<div id="branch">
				<div class="text-center wow animated fadeInDown">
					<h3>riu Global services has presence in</h3>
					<button class="tablink" onclick="openPage('India', this, '#5BB12F')">India</button>
					<button class="tablink" onclick="openPage('Dubai', this, '#5BB12F')" id="defaultOpen">Dubai</button>
					<button class="tablink" onclick="openPage('Taiwan', this, '#5BB12F')">Taiwan</button>
					<button class="tablink" onclick="openPage('Nigeria', this, '#5BB12F')">Nigeria</button>
					<button class="tablink" onclick="openPage('Iran', this, '#5BB12F')">Iran</button>
					<button class="tablink" onclick="openPage('Saudi', this, '#5BB12F')" id="defaultOpen">Saudi
						Arabia</button>
					<button class="tablink" onclick="openPage('Europe', this, '#5BB12F')">Europe</button>
					<button class="tablink" onclick="openPage('America', this, '#5BB12F')">Americas</button>

					<div id="India" class="tabcontent">
					</div>
					<div id="Dubai" class="tabcontent">
					</div>
					<div id="Taiwan" class="tabcontent">
					</div>
					<div id="Nigeria" class="tabcontent">
					</div>
					<div id="Iran" class="tabcontent">
					</div>
					<div id="Saudi" class="tabcontent">
					</div>
					<div id="Europe" class="tabcontent">
					</div>
					<div id="America" class="tabcontent">
					</div>
				</div>
			</div>
		</section><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<section id="key">
			<div class="container">
				<div class="row">
					<div class="sec-title text-center">
						<h2 class="wow animated bounceInLeft">Features</h2>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
						<div class="service-item">
							<div class="service-icon">
								<i class="fas fa-desktop fa-3x"></i>
							</div>
							<h3>Training Infrastructure</h3>
							<p>• Full Fledged Multi vendor training capabilities <br>
								• Central and Satellite training facilities <br>
								• Labs with simulators</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
						<div class="service-item">
							<div class="service-icon">
								<i class="fas fa-tools fa-3x"></i>
							</div>
							<h3>Tools and Test Equipments</h3>
							<p>• Installation & Commissioning Tools <br>
								• Network Swap / Rehoming <br>
								• Access Network <br>
								• Core Network <br>
								• Transmission Network</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
						<div class="service-item">
							<div class="service-icon">
								<i class="fas fa-users fa-3x"></i>
							</div>
							<h3>People Management & Technical</h3>
							<p>• Highly trained Managerial and Technical team
								• Extensive Pool of Trainers
								• Project management Team</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
						<div class="service-item">
							<div class="service-icon">
								<i class="fas fa-laptop fa-3x"></i>
							</div>
							<h3>Processes</h3>
							<p>• We have a Team of IT Professional for developing IT and Telecom specific ERP systems</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<script src="../javascripts/jquery-1.11.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
	<script src="../javascripts/main.js"></script>
	<script src="../javascripts/script.js"></script>
	<script src="../javascripts/jquery.ba-cond.min.js"></script>
	<script src="../javascripts/jquery.slitslider.js"></script>
	<script src="../javascripts/jquery.singlePageNav.min.js"></script>
	<script src="../javascripts/bootstrap.min.js"></script>
</body>

</html>